{% extends "base.html" %}
{% block title %}
    Add Paper
{% endblock title %}
{% block scripts %}
 <link href="../static/assets/css/addfile.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <main id="main" data-aos="fade-up" style="background-image: url(../static/assets/img/about.jpg);background-repeat: no-repeat;background-size: 100%100%;" >
        <div class="container">
            <div class="container-fluid px-1 py-5 mx-auto">
                <div class="row d-flex justify-content-center">
                    <div class="col-xl-8 col-lg-9 col-md-10 col-11 text-center">
                        <h3>IIIT-H</h3>
                        <div class="card">
                            <h5 class="text-center mb-4">Adding a new paper</h5>
                            <form method="post" action="{% url "add-paper" %}" class="form-card" onsubmit="event.preventDefault()">
                                {% csrf_token %}
                                <div class="row justify-content-between text-left">
                                    <div class="form-group col-sm-6 flex-column d-flex"><label
                                            class="form-control-label px-3">Author Name<span
                                            class="text-danger"> *</span></label> <input type="text" id="fname"
                                                                                         name="fname"
                                                                                         placeholder="Enter your name"
                                                                                         required></div>
                                    <div class="form-group col-sm-6 flex-column d-flex"><label
                                            class="form-control-label px-3">Paper Name<span
                                            class="text-danger"> *</span></label> <input type="text" id="lname"
                                                                                         name="paper_title"
                                                                                         placeholder="Enter your paper name"
                                                                                         required></div>
                                </div>
                                <div class="row justify-content-between text-left">
                                    <div class="form-group col-sm-6 flex-column d-flex"><label
                                            class="form-control-label px-3"> Category <span class="text-danger"> *</span></label>
                                        <input type="text" id="keywords" name="category"
                                               placeholder="enter all the key words related" required></div>
                                    <div class="form-group col-sm-6 flex-column d-flex"><label
                                            class="form-control-label px-3">Conference Abbreviation<span
                                            class="text-danger"> *</span></label> <input type="text" id="mob" name="conference_name"
                                                                                         placeholder="enter Conference name"
                                                                                         required></div>
                                </div>
                                <div class="row justify-content-between text-left">
                                    <div class="form-group col-sm-6 flex-column d-flex">
                                        <label class="form-control-label px-3">
                                            Conference Rank<span class="text-danger"> *</span>
                                        </label> <input type="text" id="job" name="conference_rank"
                                                        placeholder="enter conference rank" required>
                                    </div>
                                </div>
                                <div class="row justify-content-between text-left">
                                    <div class="form-group col-12 flex-column d-flex"><label
                                            class="form-control-label px-3">Link of the paper<span class="text-danger"> *</span></label>
                                        <input type="text" value="link" id="ans" name="paper_url"
                                               placeholder="enter link of the paper" required></div>
                                </div>
                                <div class="row justify-content-end">
                                    <div class="form-group col-sm-6">
                                        <button type="submit" class="btn-block btn-primary" onclick="valid()">ADD
                                            PAPER
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main><!-- End #main -->
{% endblock content %}